<div class="application_email email">
  <p>Dear <%= @user.email %></p>

  <p>
    Thank you for submitting your application to the upcoming <%= @course.program.name %> program: <%= @course.code %>
  </p>
  <p>
    We will be in touch shortly to discuss your application.
  </p>
  <p>
    Regards
    GA Admissions
  </p>
</div>