<div class="page_content">
  <p>
    <b>Name:</b>
    <%= @program.name %>
  </p>

  <p>+1 McSweeney's Blue Bottle, sunt nulla  culpa  gluten-free sapiente ullamco Pinterest deep v.  Mustache excepteur  tempor, 8-bit twee sustainable leggings Helvetica in.  Street art vegan sriracha deserunt, fanny pack vinyl Godard brunch.  Skateboard cold-pressed squid, selfies mumblecore Odd Future letterpress.  Elit tattooed direct trade  distillery church-key deserunt, +1 kogi authentic Portland fixie.  Shabby chic American Apparel small batch, odio non  bespoke Pinterest wolf lo-fi dreamcatcher cred pop-up.  Cornhole yr freegan tousled qui  gluten-free wolf, ad meggings tattooed adipisicing.</p>
  
  <% if can? :update, Program %>
  <%= link_to 'Edit', edit_program_path(@program) %> |  
  <% end %>

  <%= link_to 'Back', programs_path %>
</div>