<div class="page_content">
  <p>
    <b>Name:</b>
    <%= @program.name %>
  </p>

  <% if can? :update, Program %>
  <%= link_to 'Edit', edit_program_path(@program) %> |  
  <% end %>

  <%= link_to 'Back', programs_path %>
</div>