<div class="page_content">
  <div id="home_left">
    <div id="home_image">
    <%= image_tag('GA_logo.jpg', id: "home_logo") %>
    </div>
  </div>
  <div id="home_right">
    <h1 class="page_title">
      TRANSFORMING THINKERS INTO CREATORS.
    </h1>
    <p>
      Asymmetrical gentrify cray authentic iPhone.  Raw denim selvage whatever, next level wayfarers paleo wolf artisan beard tousled kale chips normcore.  Aesthetic keffiyeh stumptown, skateboard cornhole +1 American Apparel.  
    </p>
    <p>
      Meh fixie biodiesel vegan.  Messenger bag irony pickled drinking vinegar.  Tumblr distillery keffiyeh Godard, slow-carb flannel shabby chic stumptown.  XOXO organic cray, craft beer taxidermy polaroid church-key 8-bit PBR&amp;B wolf hoodie chambray.
    </p>
    <p>
      McSweeney's wayfarers hashtag, craft beer cred Thundercats gastropub deep v distillery squid.  Cold-pressed mixtape church-key keytar Pinterest Cosby sweater kale chips trust fund, gluten-free hoodie.  Fashion axe tote bag gastropub, locavore ethical Odd Future kogi trust fund pickled Intelligentsia before they sold out crucifix direct trade. 
    </p>



  </div>
</div>
