<h1 class="page_title">Editing course</h1>
<div class="page_content">
  <p>
    <b>Course code:</b>
    <%= @course.code %>
  </p>

  <%= render 'form' %>

  <%= link_to 'Show', @course %> |
  <%= link_to 'Back', courses_path %>
</div>