<h1>Listing courses</h1>

<% if can? :update, Course %>

  <h3>Completed Courses:</h3>
  <div>
    <%= render 'courses_table', target: @completed_courses %>
  </div>

  <h3>Ongoing Courses:</h3>
  <div>
    <%= render 'courses_table', target: @ongoing_courses %>
  </div>
  
<% end %>

<h3>Upcoming Courses:</h3>
<div>
  <%= render 'courses_table', target: @upcoming_courses %>
</div>

<br />
<% if can? :create, Course %>
  <%= link_to 'New Course', new_course_path %>  
<% end %>

