/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*
 *= require jquery-ui
 */

 body{
  width: 95%;
  margin: 10px auto 50px auto;
  padding-bottom: 50px;
  /*background-image: url("GA_logo.jpg");*/
}

.flash-message{
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.flash-message-notice{
  background-color: #ADFFAD;
  color: #79B279;
}

.flash-message-error{
  background-color: #FF9494;
  color: #E62E2E;
}
.flash-message-alert{
  background-color: #FF9494;
  color: #E62E2E;
}

a{
  text-decoration: none;
  -webkit-transition: background-color 0.5s linear 0s;
}

#user_nav{
  height: 60px;
  background-color: black;
  margin: 0 auto;
  color: white;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#user_nav_left{
  height: 58px;
  width: 47%;
  display: inline-block;
  text-align: left;
  line-height: 60px;
  vertical-align: top;
}

#user_nav_left p{
  width: 50%;
  display: inline-block;
  text-align: left;
  line-height: 60px;
  margin: 0 auto;
  vertical-align: top
}

#user_nav_right{
  height: 58px;
  width: 47%;
  display: inline-block;
  text-align: right;
  line-height: 60px;
  vertical-align: top;
}

#user_nav a{
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

/* unvisited link */
#user_nav a:link {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #000000;
}

/* visited link */
#user_nav a:visited {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #000000;
}

/* mouse over link */
#user_nav a:hover {
  color: #000000;
  text-decoration: none;
  background-color: #FFFFFF;
}

/* selected link */
#user_nav a:active {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #000000;
}

#user_thumb{
  border: 1px solid black;
  border-radius: 50%;
  margin: 3px;
}


#site_nav{
  height: 60px;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #8B0000;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#site_nav a{
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  line-height: 60px;
}

/* unvisited link */
#site_nav a:link {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #000000;
}

/* visited link */
#site_nav a:visited {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #000000;
}

/* mouse over link */
#site_nav a:hover {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #8B0000;
}

/* selected link */
#site_nav a:active {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #000000;
}

#user_thumb{
  border: 1px solid black;
  border-radius: 50%;
  margin: 3px;
}

#yield_container{
  width: 90%;
  margin: 0 auto;
  min-height: 500px;
  box-shadow: 1px 1px 20px 0px darkred;
  border-radius: 30px;
  margin-top: 10px;
  padding: 10px 20px 10px 30px;
}

/* inside the yield          */
#classroom_detail{
  width: 50%;
  display: inline-block;
}

#calendar_container{
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

.hidden_course_select{
  display: none;
}

